footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}

footer div {
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
    margin-right: 250px;
    padding: 15px;
}

footer div h3 {
    margin: 0px;
    font-size: 18px;
}

footer div a {
    padding-top: 8px;
}