/****** Hearder ***********/
header {
    display: flex;
    justify-content: space-between;
}

header a {
    margin-left: 68px;
    line-height: 40px;
    padding-top: 12px;
}

header a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

header img {
    height: 19px;
    margin: 30px 0px;
}