/****** Info Group - Head and search ***********/
h1 {
    font-size: 22px;
    margin: 0;
}

.info-group {
    display: flex;
    flex-direction: column;
}

.info-group p {
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    height: 49px;
    margin: 30px 0px;
    width: 377px;
}

.fa-location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

input[type='text'] {
    border: none;
    opacity: 1;
    font-weight: 900;
    padding-left: 20px;
    font-size: 18px;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    width: 195px;
    box-sizing: border-box;
}

input[type='submit'] {
    border: none;
    background: #0065FC;
    color: white;
    font-weight: 900;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    width: 132px;
}

.fa-magnifying-glass {
    display: flex;
    border: none;
    background: #0065FC;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    font-size: 18px;
    width: 49px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

/****** Info Group - Filter and info ***********/

.filter-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
}

.filter-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
}

.filter-menu li {
    border: #F2F2F2 solid;
    border-radius: 45px;
    padding: 10px;
    font-size: 17px;
}

.filter-menu li i {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 22px;
}

.filter-menu li:hover {
    background-color: #DEEBFF;
}

.fa-info {
    border: #F2F2F2 1px solid;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}