/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-menu {
        flex-direction: column;
        align-items: baseline;
    }

    .filter-menu ul {
        padding: 0%;
    }

    .filter-menu li {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 31.8%;
    }

    .activites-cards .card {
        height: 270px;
    }

    .activites-cards img {
        height: 200px;
    }
}